# Project place file
/project.rbxlx
/build.rbxlx
/build.rbxm

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Selene Roblox File
/roblox.toml

# Wally Files
/wally.lock
/DevPackages
/ServerPackages
/Packages
